<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="dgis_root_menu" name="Tài khoản"
                  web_icon="DGIS,static/logo/logo.png"
                  sequence="1"
                  action="dgis_users_act"
        />

        <menuitem id="dgis_customer_menu" name="Khách hàng"
                  web_icon="DGIS,static/logo/logo.png"
                  sequence="2"
                  action="dgis_customer_act"
        />
    </data>
</odoo>